services:
  frontend:
    build:
      context: ./frontend
      target: builder
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: pnpm dev --host
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
      target: builder
    volumes:
      - ./server:/app
      - /app/node_modules
    command: pnpm dev
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
